{% extends "index.html" %}
{% block body %}
<h2>Call for Papers</h2>
<h3>Dates and Deadlines</h3>
<table>
	<tr>
		<th>Submission deadline:</th>
		<td>2019-05-24 23:59:59+0200</td>
	</tr>
	<tr>
		<th>Notification of acceptance:</th>
		<td>2019-05-31</td>
	</tr>
	<tr>
		<th>Presentation Language:</th>
		<td>English</td>
	</tr>
	<tr>
		<th>Submission system:</th>
		<td><a href="https://pretalx.hsbp.org/camppp7e3/submit">Camp++ Pretalx</a></td>
	</tr>
	<tr>
		<th>Topics:</th>
		<td>should cover mostly technical presentations focusing on
		<ul>
		<li>breaking and building infrastructure and on</li>
		<li>current techno-ethical issues</li></ul></td>
	</tr>
</table>

<p>(the following shamelessly adopted from the 30c3 CfP)</p>

<p>The "Hungarian Autonomous Center for Knowledge and friends" runs the camp with the help of self-organized volunteer teams and on its own funds for the 7th year now. We are proud of this and we are looking forward to copying the inspiring example of independent self-organizing as championed by the organizers of the Chaos Communication Congress and Camps. We regard this event as one of the few places where a global exchange using the creative-critical approach to technology and society is possible without censorship.</p>
<p>We are not providing a stage to secret services or other state organizations. However, based on our concept and on the fact that work is done on a voluntary basis, a thorough advance screening of participants and speakers is not possible.</p>
<p>It goes without saying that everyone attending the camp should be treated with respect and consideration. A significant proportion of delegates and speakers value their privacy, the integrity of their own data and their photographic likenesses. Those who attach less importance to a personal agency in these matters are in a stronger position. We, therefore, ask them to respect the feelings and wishes of others.</p>

<h3>Submission Guidelines</h3>
<h4>For talks and workshops</h4>
<p>Please send us a description of your suggested talk that is as complete as possible. The description is of particular importance to the selection, so please ensure it is as clear as possible. Quality takes precedence over quantity. Due to the non-commercial nature of the Camp, presentations which aim to market or promote commercial products or entities will not be entertained.</p>
<p>As it is likely that there will be multiple submissions about the same topic, please show us exactly why your talk should be part of the camp. Please write something about yourself, your environment and your motivation. It does not matter if the talk has been held at another conference, All it has to be is up to date.</p>
<p>Talks should be no longer than 45 minutes plus 15 minutes for question and answers. Longer slots are possible in principle. There are 20-minute slots as well. Please tell us the proposed length of your talk at the time of submission.</p>
<h4>For projects, installations and other fun things</h4>
We have a lot of space and we are open for crazy and surprising stuff.

<h3>Publication</h3>
Audio and video recordings of the lectures will be published online in various formats under the license <a href="https://creativecommons.org/licenses/by-sa/2.5/hu/deed.en">CC Attribution ShareAlike 2.5 Hungary</a> (CC BY SA 2.5 HU). This license allows commercial use of excerpts by media institutions as part of their reporting. If you do not wish material of your lecture to be published or streamed, please let us know in your submission.

<h3>Travel, costs &amp; visa</h3>
Camp++ is a non-commercial event, where neither the organizers nor the speakers are being paid.

<h3>Online submissions only</h3>
All submissions of lectures and workshops have to be submitted to <a href="https://pretalx.hsbp.org/camppp7e3/submit">our CfP system</a>.
{% endblock %}
