{% extends "index.html" %}
{% block body %}
<h2>How to get there</h2>
<p>
	<strong>Coordinates:</strong>
	<a href="https://tools.wmflabs.org/geohack/geohack.php?params=47_45_2_N_18_5_38_E_type:landmark">N 47° 45′ 2″ E 18° 5′ 38″</a>
</p>
<p>
	<strong>By car:</strong>
	<a href="https://en.wikipedia.org/wiki/M1_motorway_(Hungary)">M1 motorway</a> is recommended from Budapest,
	Bratislava, and Vienna as well. You have to take exit no. 85 towards Komárom and route 13 leads you there.
	You have to purchase a vignette for M1, the cheapest option is 10 days for vehicles under 3.5t, which costs
	2975 HUF. Motorway vignettes are virtual, they can be bought on-line with credit card payment on
	numerous sites, the <a href="https://ematrica.nemzetiutdij.hu/">official webshop of the National Toll Payment Services PLC</a> is the cheapest,
	all the others put a service charge on top of the price.
</p>
<p>
	A cheaper alternative is route 1, which goes directly through Komárom, but the speed limit is
	50 km/h within towns, and 90 km/h elsewhere, in contrast with 130 km/h on the motorway.
	Cars can be parked on-site, including caravans.
</p>
<p>
	<strong>By plane (via Budapest):</strong>
	While there is a train stop called <em>Ferihegy</em> which matches the old name of the airport, the train stop itself is at the old terminal, which no longer receives passenger flights.
	The cheapest option is to take the <a href="http://www.bkk.hu/en/timetables/#200E">bus 200E</a> to the end of the line, Kőbánya-Kispest, where you can change both to trains and <a href="http://www.bkk.hu/en/timetables/#M3">metro line M3</a>. You can change between M3 and M2 at Deák Ferenc tér with a single ticket, see further instructions for traveling by train below.
</p>
<p>
	<strong>By train (from/via Budapest):</strong>
	The train takes about 80 minutes from Budapest to Komárom, with express trains departing from Budapest Keleti
	(pályaudvar), others from Budapest Déli (pályaudvar) &ndash; international trains arrive in former, the two
	are directly connected by <a href="http://www.bkk.hu/en/timetables/#M2">metro line M2</a>.
</p>
<p>
	Train tickets cost 1860 HUF
	for normal, 2010 HUF for express trains. The timetable can be seen and tickets can be booked
	<a href="http://elvira.mav-start.hu/elvira.dll/x/uf?iehack=%3F&amp;ed=5CB891A9&amp;mikor=-1&amp;isz=0&amp;language=2&amp;k=&amp;ref=&amp;retur=&amp;nyit=&amp;_charset_=UTF-8&amp;vparam=&amp;i=BUDAPEST*&amp;e=Kom%C3%A1rom&amp;v=&amp;d=19.07.25&amp;u=1156&amp;go=Timetable">on-line at MÁV-Start</a>, which is 10% cheaper than buying them in person.
</p>
<p>
	<strong>By train (from Vienna/Munich):</strong>
	International guests want to get to Munich or to Vienna, where the Railjet departs every 2 hours, these are equipped
	with power plugs and also Internet in Austria. You need to get off the Railjet in Győr and take the last stint with a 
	train that stops in Komárom. Trains run from Győr at least every hour, tickets costs less than 3 €, which you can order
	<a href="http://elvira.mav-start.hu/elvira.dll/x/uf?iehack=%3F&amp;ed=5CB891A9&amp;mikor=-1&amp;isz=0&amp;language=2&amp;k=&amp;ref=&amp;retur=&amp;nyit=&amp;_charset_=UTF-8&amp;vparam=&amp;i=Gy%C5%91r&amp;e=Kom%C3%A1rom&amp;v=&amp;d=19.07.25&amp;u=1156&amp;go=Timetable">online at MÁV-Start</a>.
</p>
<p>
	<strong>By train (from Berlin):</strong>
	International guests departing in Berlin can use any of the direct connections to Budapest, but should get off in
	Nové Zámky, which is only 20 kilometers from Komárom. According to the schedule (TODO: dead link)
	trains run every 20-30 minutes from Nové Zámky to Komárno and tickets cost less than 2 €.
</p>
<p>
	<strong>Here's how to get from the train station to the campsite:</strong>
	<img src="static/train-fort-map.png" width="600" height="301" alt="campsite map" id="trainfortmap" />
</p>
<h2>What to bring</h2>
<ul>
	<li>tent (or a functional equivalent) for yourself and your projects (if you need help for the latter, contact us)</li>
	<li>sleeping bag and mattress/hammock for the night</li>
	<li><a href="tickets.html">your ticket</a> either on a device or printed</li>
	<li>cutlery and dishes, don't assume it to be provided</li>
	<li>clothes and shoes compatible with the hot and sunny weather in Hungary during the day, while proper isolation for a bit colder nights, since we're next to the river Danube</li>
	<li>any projects you'd like to show off to other participants (if you depend on special infrastructure for that, contact us)</li>
	<li>extension cords if you'd like to have electricity in your tent &ndash; Hungary uses
		<a href="https://en.wikipedia.org/wiki/Schuko">Schuko</a> plugs, be prepared if your gear uses something else</li>
	<li>chargers/power supply for your battery-powered goodies</li>
</ul>
<h2>How to behave</h2>
<p>(shamelessly copied from <a href="https://web.archive.org/web/20131016133505/http://events.ccc.de/camp/2011/wiki/Guide">CCCamp 2011 guide</a>)</p>
<ul>
	<li>treat other lifeforms as you would like to be treated, or even better, have lots of fun together</li>
	<li>treat the fort and exhibits around you nicely, don’t break or attach anything to them</li>
	<li>don't photograph people or their gear without explicit permission</li>
	<li>ask members of the press nicely to leave you alone if they bother you</li>
	<li>bring all trash to the trash cans</li>
	<li>take everything you brought to the camp site with you when you leave</li>
</ul>
{% endblock %}
